{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single", {"avoidEscape": true}],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "no-console": "off",
    "requirejs/no-invalid-define": 2,
    "requirejs/no-invalid-require": 2,
    "requirejs/no-multiple-define": 2,
    "requirejs/no-named-define": 2,
    "requirejs/no-object-define": 1
  },
  "env": {
    "browser": true,
    "es6": true,
    "amd": true
  },
  "plugins": [
    "requirejs"
  ],
  "extends": "eslint:recommended"
}