{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "indent": ["error", 2],
    "space-before-function-paren": ["error", "always"],
    "quotes": ["error", "single", {"avoidEscape": true}],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jquery": true,
    "browser": true
  },
  "plugins": [
    "node",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "openlayers"
  ]
}