[submodule "libs/jsonix"]
	path = libs/jsonix
	url = https://github.com/boundlessgeo/jsonix.git

[submodule "libs/ol3-layerswitcher"]
	path = libs/ol3-layerswitcher
	url = https://github.com/walkermatt/ol3-layerswitcher.git