*~
*.log
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/vagrant.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/misc_old.xml
Would skip repository app/gitmodules/
log/
dist/
node_modules/
bower_components/
app/scratch/controlgroup.html
app/scratch/pb_background.html
app/scratch/slider.html
app/scratch/sortable_accordian.html
app/scratch/sortable_portlets.html
app/main-js/bingkey.js