*~
*.log
.idea/epsa_ui.iml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/vagrant.xml
.idea/vcs.xml
.idea/workspace.xml
Would skip repository app/gitmodules/
app/bower_components
node_modules/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/misc_old.xml
app/scratch/controlgroup.html
app/scratch/pb_background.html
app/scratch/slider.html
app/scratch/sortable_accordian.html
app/scratch/sortable_portlets.html
log/
app/main/bingkey.js