/** {
	border: 1px solid red !important;
}*/
.ol-mouse-position {
  background-color: white;
}
/*.container-fluid {
	height: 100%;
	width: 100%;
}
.col-md-9 {
	width: 75%;
	height: auto;
}
.col-md-3 {
	width: 25%;
	height: auto;	
}*/
.map {
	height: 900px;
	width: 100%;
	background: url(../resources/map-background.jpg) repeat;
}
.aspe {
	padding-left: 2px;
	padding-right: 2px;
}
.aspe-btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn-load {
    color: #FFFFFF;
    background-color: #BEDE1B;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}
.btn-load:hover {
	color: #73AD21;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-feature {
    color: #FFFFFF;
    background-color: #0A7D84;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}
.btn-feature:hover {
	color: #FFFFFF;
    background-color: #0CB3BD;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-sensor {
    color: #FFFFFF;
    background-color: rgb(51, 154, 45);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}
.btn-sensor:hover {
    color: #FFFFFF;
    background-color: #35DC2B;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
