body {
    margin: 0px;
}
/** {
	border: 1px solid red !important;
}*/
.map-container {
    width: 100%;
    height: 100%; /*Fallback*/
    height: 100vh;
    display: flex;
}
.sidebar {
    width: 360px;
    height: 100%;
    box-sizing: border-box;
}
.sidebar .toolbar {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: table;
    padding-left: .2em;
}
.toolbar .ol-control {
    height: 2em;
    position: static;
    display: table-cell;
    padding: 0;
}
.toolbar .ol-control button {
    border-radius: 2px;
    background-color: rgba(219,63,63,.5);
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 50%;
}
.toolbar .ol-control button:hover {
    background-color: rgba(219,63,63,1);
}
.toolbar .ol-control button.active {
    background-color: rgba(234,129,8,1);
}
.toolbar .ol-control button.active:hover {
    background-color: rgba(234,129,8,1);
}
.toolbar .ol-control button:disabled {
    background-color: rgba(0,0,0,.2);
}
.toolbar .ol-control button:disabled:hover {
    background-color: rgba(0,0,0,.2);
}
.toolbar .ol-addpoint button {
    background-image: url(../res/button_addpoint.png);
}
.toolbar .ol-addline button {
    background-image: url(../res/button_addline.png);
}
.toolbar .ol-addpolygon button {
    background-image: url(../res/button_addpolygon.png);
}
.toolbar .draw-aor button {
    background-image: url(../res/aor_temp.png);
}
.toolbar .draw-building button {
    background-image: url(../res/building_temp.png);
}
.toolbar .draw-herbage button {
    background-image: url(../res/herbage2_temp.png);
}
.toolbar .draw-water button {
    background-image: url(../res/water_temp.png);
}
.toolbar .draw-wall button {
    background-image: url(../res/wall_temp.png);
}
.toolbar .draw-road button {
    background-image: url(../res/road2_temp.png);
}
.toolbar .draw-camera button {
    background-image: url(../res/camera-normal.png);
}
.toolbar .draw-radio button {
    background-image: url(../res/radio-normal.png);
}
.toolbar .ol-measure button {
    background-image: url(../res/button_measure.png);
}
.sidebar .layertree {
    width: 100%;
    height: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid grey;
    border-bottom: none;
}
.layertree,.toolbar .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.layertree .layertree-buttons {
    height: 2em;
    border-bottom: 1px solid grey;
}
.layertree .layertree-buttons button {
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0 2px 0 2px;
    border: none;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}
.layertree .layertree-buttons button:hover {
    background-color: rgba(0,0,0,1);
}
.layertree-buttons .addwms {
    background-image: url(../res/button_wms.png);
}
.layertree-buttons .addwfs {
    background-image: url(../res/button_wfs.png);
}
.layertree-buttons .addvector {
    background-image: url(../res/button_vector.png);
}
.layertree-buttons .deletelayer {
    background-image: url(../res/button_delete.png);
}
.layertree-buttons .newvector {
    background-image: url(../res/button_newvector.png);
}
.layertree .layercontainer {
    position: relative;
    height: calc(100% - 2em);
    overflow-y: auto;
}
.layercontainer .layer {
    position: relative;
    border: 1px solid grey;
    border-radius: .5em;
    height: 2em;
    margin: 2px 0 2px 0;
    line-height: 2em;
}
.layercontainer .layer.active {
    border-color: orange;
    min-height: 2em;
    height: auto;
}
.layer div {
    display: none;
}
.layer.active div {
    display: block;
}
.layer .visible {
    top: .5em;
}
.layer.over {
    border-top: 3px solid black;
}
.layer span:first-of-type {
    position: absolute;
    left: 1.5em;
    max-width: calc(100% - 1.5em);
    white-space: pre;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.popup {
    border: 1px solid grey;
    background-color: rgba(255,255,255,1);
    border-radius: .5em;
}
.popup span {
    float: left;
    width: 40%;
}
.popup input[type=text], .popup input[type=number] {
    width: 60%;
    box-sizing: border-box;
}
.popup input[type=button], .popup input[type=submit] {
    width: 10%;
    float: right;
    background-color: rgba(0,0,0,.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2px;
    color: rgba(255,255,255,1);
    font-weight: 700;
}
.popup .delete {
    background-image: url(../../res/button_delete.png);
}
.popup .save {
    background-image: url(../../res/button_save.png);
}
.toggleable {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    top: 0;
}
.addlayer {
    background-color: rgba(255,255,255,1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.addlayer select {
    min-width: 11.5em;
    max-width: 11.5em;
}
.buffering span::after {
	content: '*';
}
.error {
	border-color: red;
}
.mainwindow {
    width: calc(100% - 360px);
    height: 100%;
}
.mainwindow .map {
    width: 100%;
	height: calc(100% - 1.5em);
    overflow: hidden;
    position: relative;
    background: url("../res/map-background.jpg") repeat;
}
.mainwindow .notification-bar {
    width: 100%;
	height: 1.5em;
    display: table;
}
.notification-bar > div {
    height: 100%;
    display: table-cell;
    border: 1px solid grey;
    width: 20%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}
.notification-bar .ol-mouse-position {
    position: static;
}
.notification-bar .tile {
    width: 30%;
}
.ol-attribution ul {
    font-size: 1em;
}
.ol-attribution img {
    max-height: 1em;
}
.text-stroke {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.ol-scale-line {
    background: rgba(0, 60, 136, 0.5);
}
/*.ol-scale-line-inner {*/
    /*border: 1px solid #000;*/
    /*border-top: none;*/
    /*font-size: 1em;*/
/*}*/
.btn-feature {
    color: #FFFFFF;
    background-color: #0A7D84;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}
.btn-feature:hover {
	color: #FFFFFF;
    background-color: #0CB3BD;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}